# Configuration LDAP vers le proxy OpenLDAP

uris = ldap://127.0.0.1:389
base = {{ ad_base_dn }}

dn = {{ vault_ldap_proxy_bind_dn }}
dnpass = {{ vault_ldap_proxy_password }}

# Configuration LDAP
ldap_version = 3
auth_bind = yes

user_filter = (&(objectClass=user)(sAMAccountName=%n))
pass_filter = (&(objectClass=user)(sAMAccountName=%n))

#user_attrs = maildir:~/Maildir
user_attrs = =home=/var/mail/vmail/%u

tls = no
scope = subtree
deref = never
