# ========== JOURNALISATION ==========
log_path = /var/log/dovecot.log
info_log_path = /var/log/dovecot-info.log
debug_log_path = /var/log/dovecot-debug.log

# Niveau de log
log_timestamp = "%Y-%m-%d %H:%M:%S "
auth_verbose = yes
auth_verbose_passwords = no
mail_debug = yes