# Service definitions
service imap-login {
  inet_listener imap {
    address = {{ dovecot_listen_address }}
    port = {{ dovecot_imap_port }}
  }
  inet_listener imaps {
    address = {{ dovecot_listen_address }}
    port = {{ dovecot_imaps_port }}
    ssl = yes
  }
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
}

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    mode = 0600
    user = postfix
    group = postfix
  }
}

#service stats {
#  unix_listener stats-writer {
#    user = dovecot
#    group = dovecot
#    mode = 0660
#  }
#}

#service anvil {
#  unix_listener anvil {
#    mode = 0660
#  }
#}
