# Alias et redirections
server_host = 127.0.0.1
server_port = 389
version = 3

bind = yes
bind_dn = cn=AD_User,ou=Users_Network,dc=epitaf,dc=local
bind_pw = REDACTED

search_base = ou=Users_Network,dc=epitaf,dc=local
query_filter = (&(objectClass=user)(userPrincipalName=%s))
result_attribute = sAMAccountName

# Pour les alias : userA@epitaf.local -> userB@epitaf.local
# (À adapter si tu as des groupes de distribution)