server_host = 127.0.0.1
server_port = 389
version = 3

# Authentification LDAP
bind = yes
bind_dn = {{ vault_ldap_proxy_bind_dn }}
bind_pw = {{ vault_ldap_proxy_password }}

search_base = {{ ad_base_dn }}
query_filter = (&(objectClass=user)(userPrincipalName=%s))
result_attribute = sAMAccountName
