server_host = 127.0.0.1
server_port = 389
version = 3

# Authentification LDAP
bind = yes
bind_dn = {{ vault_ldap_proxy_bind_dn }}
bind_pw = {{ vault_ldap_proxy_password }}

# Recherche des utilisateurs
search_base = {{ ad_base_dn }}
query_filter = (&(objectClass=user)(userPrincipalName=%s))
result_attribute = sAMAccountName
result_format = %s/Maildir/

scope = sub
leaf_result_attribute = mail
debuglevel = 1