<VirtualHost *:{{ http_port }}>
    ServerName {{ http_host | default('localhost') }}
    DocumentRoot {{ http_root | default('/var/www/html') }}

    ErrorLog ${APACHE_LOG_DIR}/http-error.log
    CustomLog ${APACHE_LOG_DIR}/http-access.log combined

    # Log l'IP réelle même derrière un proxy
    LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b" proxy
    CustomLog ${APACHE_LOG_DIR}/http-ip.log proxy

   # WordPress
   <Directory {{ http_root }}>
        Options -Indexes
        AllowOverride All
        Require all granted
   </Directory>
   <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.html
   </IfModule>

    # Désactive Kerberos
    #<IfModule mod_auth_kerb.c>
        #KrbMethodK5Passwd Off
    #</IfModule>

    IncludeOptional /etc/modsecurity/modsecurity.conf
</VirtualHost>
