<VirtualHost localhost:10001>
    ServerName localhost
    DocumentRoot {{ http_root }}/mail

    <Directory {{ http_root }}/mail>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

   <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.html
   </IfModule>

    ErrorLog ${APACHE_LOG_DIR}/roundcube_error.log
    CustomLog ${APACHE_LOG_DIR}/roundcube_access.log combined
    SetEnvIf X-Forwarded-Proto https HTTPS=on
</VirtualHost>
